.carousel{
    max-width: 95%;
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .indicators .indicator-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #000;
}

.nav-wrapper{
    background-color: #8f8f8f;
}

h1,h2,h3,h4,h5,h6{
    color: white;
}

button{
    border-radius: 15px;
}

.img-wrapper{
    overflow:hidden;
  }

img.hover-zoom{
    width: 100%;
    height: 400px;
}

img.hover-zoom:hover {
    transform: scale(0.90);
    transition-duration: 1s;
}

.card-title{
    background-color: #8f8f8f;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20%;
}

.page-footer{
    background-color: #8f8f8f;
}

.card-image{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}